h1 {
	color: white;
	
	text-shadow: rgb(10, 192, 237) 1px 0 10px;
}
img.sign {
    
	width: 100px;
    height: 100px;
    margin: 10px 0 10px 10px;
}
ten {
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(14, 238, 242, 0.928);
    background: rgba(11, 239, 217, 0.3);
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
  }

body{
    background-image: url("sora.avif");
}

h2 {
    color: white;
    text-shadow: rgb(10, 192, 237) 1px 0 10px;
    border-top: solid #1e366a 1px;/*上のボーダー*/
    border-bottom: solid #1e366a 1px;/*下のボーダー*/
    padding: 0.5em 0 0.5em 1.5em;
    line-height: 1.5;
    padding: 0.5em 0;
  }
label {
    color:white;
    text-shadow: rgb(10, 192, 237) 1px 0 10px;
    font-size: 20px;
}